{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ viewModel.name }}</h1>

    <p>{{ 'quiz.show.questions_count'|trans({'%questionsCount%': viewModel.questionsCount}) }}</p>

    {% if viewModel.gameToken %}
    {% else %}
        <a href="{{ path('quiz_start_game', {'token': viewModel.token}) }}">{{ 'quiz.show.start_game'|trans }}</a>
    {% endif %}
{% endblock %}
